<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">

    <div class="x_panel">
      <div class="x_content">
          <% if defined?(bugzilla) %>
          <div>
            <a class="btn btn-primary" href="<%= bugzilla %>" target="_blank"><i class="fa fa-bug"></i>
              Display in Bugzilla
            </a>
          </div>
          <% end %>
          <table id="<%= table_id %>" class="table table-hover dataTable">
            <thead>
              <tr>
                <th>ID</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Product</th>
                <th>Summary</th>
                <th>Assignee</th>
                <th>Changed</th>
              </tr>
            </thead>
            <% if bugs.count > 10 %>
            <tfoot>
              <tr>
                <th>ID</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Product</th>
                <th>Summary</th>
                <th>Assignee</th>
                <th>Changed</th>
              </tr>
            </tfoot>
            <% end %>
            <tbody>
              <% bugs.each do |bug| %>
                <tr class="bug-p<%= bug.priority %>">
                  <td>
                    <a href="https://bugzilla.suse.com/show_bug.cgi?id=<%= bug.bug_id %>" target="_blank">
                      <%= bug.bug_id %>
                    </a>
                  </td>
                  <td>P<%= bug.priority %></td>
                  <td><%= bug.status %></td>
                  <td><%= bug.product %></td>
                  <td>
                    <a href="https://bugzilla.suse.com/show_bug.cgi?id=<%= bug.bug_id %>" target="_blank">
                      <%= bug.summary %>
                    </a>
                  </td>
                  <td><%= bug.assignee %></td>
                  <td><%= bug.change_date %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>

  </div>
</div>

<script>
  $(document).ready( function () {
    $('#<%= table_id %>').DataTable({
      paging: <%= defined?(paging) ? paging : false %>,
      order: [[ 1, "asc" ]]
    });
    // style the added search field
    $('input[type=search]').addClass('form-control');
  });
</script>