
<%
md = defined?(md) ? md : 12
sm = defined?(sm) ? sm : md
xs = defined?(xs) ? xs : sm
%>

  <div class="col-md-<%= md %> col-sm-<%= sm %> col-xs-<%= xs %>">
    <div class="x_panel">
      <div class="x_title">
        <h2><%= card_title %>
          <% if defined?(card_subtitle) %>
          <small><%= card_subtitle %></small>
          <% end %>
        </h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
          <%= yield %>
      </div>
    </div>
  </div>

