<!-- footer content -->
<div class="clearfix"></div>
<footer>
  <div class="pull-right">
    Based on the <a href="https://github.com/puikinsh/gentelella">Gentelella</a> Template
  </div>
  <div class="clearfix"></div>
</footer>
<!-- /footer content -->
