.row.tile_count
  = render "dashboard/bug_tile", title: "Critical Bugs", link: "#critical_bugs",
    bug_count: @important_bugs.size

  = render "dashboard/bug_tile", title: "Unknown Priority (P5) Bugs",
    link: "#unknown_prio_bugs", bug_count: @p5_bugs.size

  
  = render "dashboard/bug_tile", title: "Y2maintainers Bugs",
    link: "#y2maintainers_bugs", bug_count: @y2maint_bugs.size

  = render "dashboard/bug_tile", title: "Old IN_PROGRESS Bugs",
    link: "#old_in_progress_bugs", bug_count: @stale_bugs.size

hr

= render "partials/page_title" do
  h3 10 Latest Bugs
end
= render "partials/bug_table", bugs: @latest_bugs, table_id: "latest_bugs"

= render "partials/page_title" do
  h3 10 Last Modified Bugs
end
= render "partials/bug_table", bugs: @last_modified, table_id: "last_modified_bugs"

= render "partials/page_title" do
  h3#critical_bugs Critical Bugs
end
= render "partials/bug_table", bugs: @important_bugs, table_id: "all_bugs", paging: true

= render "partials/page_title" do
  h3#y2maintainers_bugs Y2maintainers Bugs
end
= render "partials/bug_table", bugs: @y2maint_bugs, table_id: "y2maint_bugs", paging: true

= render "partials/page_title" do
  h3#old_in_progress_bugs title="Untouched for more than 1 month" Old IN_PROGRESS Bugs
end
= render "partials/bug_table", bugs: @stale_bugs, table_id: "stale_bugs", paging: true

= render "partials/page_title" do
  h3#unknown_prio_bugs Unknown Priority (P5) Bugs
end
= render "partials/bug_table", bugs: @p5_bugs, table_id: "p5_bugs", paging: true
