// Place all the styles related to the Bugzilla controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// the links need to be styled separately,
// use mixins to share the definitions (DRY)
@mixin bugzilla-text-color($color) {
  color: $color;
  a {
    color: $color;
  }
}

@mixin bugzilla-bold-text {
  font-weight: bold;
  a {
    font-weight: bold;
  }
}

tr.bug-p0 {
  @include bugzilla-text-color(red);
  @include bugzilla-bold-text;
  background-color: #ffff00;
}

tr.bug-p1 {
  @include bugzilla-text-color(red);
  @include bugzilla-bold-text;
  background-color: #ffffcc;
}

tr.bug-p2 {
  @include bugzilla-text-color(red);
}

tr.bug-p3 {
  // nothing here, just use the defaults
}

tr.bug-p4 {
  @include bugzilla-text-color(#3d86c8);
}

tr.bug-p5 {
  @include bugzilla-text-color(#730099);
}