<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "YaST Dashboard" %></title>
    <link rel="icon" href="<%= image_path "yast-logo.png" %>" type="image/png">

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">

        <%= render "partials/sidenav" %>
        <%= render "partials/topnav" %>

        <div class="right_col" role="main">
          <div class="">
            <!-- page content -->
            <%= yield %>
            <!-- /page content -->
          </div>
        </div>

        <%= render "partials/footer" %>
      </div>
    </div>
  </body>

</html>